".text.srt":
	editor:
		atomicSoftTabs: false
		autoIndentOnPaste: false
		softTabs: false
	"line-ending-selector":
		defaultLineEnding: "CRLF"
	whitespace:
		ensureSingleTrailingNewline: false

".text.vtt":
	core:
		fileEncoding: "utf8"
	editor:
		commentStart: "NOTE "
		commentEnd:   "\n\n"
