// Strike-through effect
.syntax--markup.syntax--strike.syntax--srt{
	text-decoration: line-through;
}

// Disable OpenType ligatures in scoped punctuation
.syntax--srt, .syntax--vtt{
	&.syntax--string.syntax--quoted.syntax--other.syntax--sound
	>.syntax--punctuation.syntax--definition.syntax--string:is(.syntax--begin, .syntax--end),
	&.syntax--punctuation.syntax--definition.syntax--tag,
	&.syntax--punctuation.syntax--section.syntax--quote{
		font-variant-ligatures: none;
	}
}

// Theme-specific adjustments to syntax highlighting
.theme-seti-syntax{
	.syntax--vtt{
		&.syntax--support.syntax--constant.syntax--colour{
			color: #8dc149;
		}
	}
	.syntax--srt{
		&.syntax--invalid.syntax--unimplemented > .syntax--punctuation{
			color: #cc3e44;
			opacity: 0.5;
		}
		&.syntax--meta.syntax--tag.syntax--override{
			> .syntax--punctuation { color: #4d5a5e; }
			> .syntax--entity      { color: #8dc149; }
		}
	}
}
